<a href="https://colab.research.google.com/github/ccasado/bootcamp-dados/blob/main/Bootcamp_Datascience2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

dados = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A160324189_28_143_208.csv", encoding="ISO-8859-1", 
                    skiprows = 3, sep=";", skipfooter=12,
                    na_values='-',
                    thousands=".", decimal=",", engine="python")

### Desafio 01 - Entre nos dados do wikipedia e Leia a Base de dados direto do wikipedia.

In [2]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1'
dfs = pd.read_html(url, index_col=1)
df = dfs[0]

df[['População']]

                      População
Unidade federativa
São Paulo            46 289 333
Minas Gerais         21 292 666
Rio de Janeiro       17 366 189
Bahia                14 930 634
Paraná               11 516 840
Rio Grande do Sul    11 422 973
Pernambuco            9 616 621
Ceará                 9 187 103
Pará                  8 690 745
Santa Catarina        7 252 502
Maranhão              7 114 598
Goiás                 7 113 540
Amazonas              4 207 714
Espírito Santo        4 064 052
Paraíba               4 039 277
Rio Grande do Norte   3 534 165
Mato Grosso           3 526 220
Alagoas               3 351 543
Piauí                 3 281 480
Distrito Federal      3 055 149
Mato Grosso do Sul    2 809 394
Sergipe               2 318 822
Rondônia              1 796 460
Tocantins             1 590 248
Acre                    894 470
Amapá                   861 773
Roraima                 631 181

### Desafio 02 - Neste desafio temos uma série de passos:

Padronizar os nomes das colunas

In [3]:
df.index.rename('uf', inplace=True)
df.rename(columns = {'População': 'populacao'}, inplace = True)
df['populacao']

uf
São Paulo              46 289 333
Minas Gerais           21 292 666
Rio de Janeiro         17 366 189
Bahia                  14 930 634
Paraná                 11 516 840
Rio Grande do Sul      11 422 973
Pernambuco              9 616 621
Ceará                   9 187 103
Pará                    8 690 745
Santa Catarina          7 252 502
Maranhão                7 114 598
Goiás                   7 113 540
Amazonas                4 207 714
Espírito Santo          4 064 052
Paraíba                 4 039 277
Rio Grande do Norte     3 534 165
Mato Grosso             3 526 220
Alagoas                 3 351 543
Piauí                   3 281 480
Distrito Federal        3 055 149
Mato Grosso do Sul      2 809 394
Sergipe                 2 318 822
Rondônia                1 796 460
Tocantins               1 590 248
Acre                      894 470
Amapá                     861 773
Roraima                   631 181
Name: populacao, dtype: object

Transformar os dados nos tipos corretos

In [4]:
df['populacao'] = df['populacao'].str.replace(" ", "").astype(int)
df['populacao']

uf
São Paulo              46289333
Minas Gerais           21292666
Rio de Janeiro         17366189
Bahia                  14930634
Paraná                 11516840
Rio Grande do Sul      11422973
Pernambuco              9616621
Ceará                   9187103
Pará                    8690745
Santa Catarina          7252502
Maranhão                7114598
Goiás                   7113540
Amazonas                4207714
Espírito Santo          4064052
Paraíba                 4039277
Rio Grande do Norte     3534165
Mato Grosso             3526220
Alagoas                 3351543
Piauí                   3281480
Distrito Federal        3055149
Mato Grosso do Sul      2809394
Sergipe                 2318822
Rondônia                1796460
Tocantins               1590248
Acre                     894470
Amapá                    861773
Roraima                  631181
Name: populacao, dtype: int64

Transformar a UF em index

In [5]:
df.index

Index(['São Paulo', 'Minas Gerais', 'Rio de Janeiro', 'Bahia', 'Paraná',
       'Rio Grande do Sul', 'Pernambuco', 'Ceará', 'Pará', 'Santa Catarina',
       'Maranhão', 'Goiás', 'Amazonas', 'Espírito Santo', 'Paraíba',
       'Rio Grande do Norte', 'Mato Grosso', 'Alagoas', 'Piauí',
       'Distrito Federal', 'Mato Grosso do Sul', 'Sergipe', 'Rondônia',
       'Tocantins', 'Acre', 'Amapá', 'Roraima'],
      dtype='object', name='uf')

### Desafio 03 - Buscar na documentação alguns métodos envolvendo strings

In [6]:
# criação de series com datatype string
strings = pd.Series(["a", "b", "c", "AA", "Series", "f-l-u"], dtype="string")
strings

0         a
1         b
2         c
3        AA
4    Series
5     f-l-u
dtype: string

In [7]:
# Lower case
strings.str.lower()

0         a
1         b
2         c
3        aa
4    series
5     f-l-u
dtype: string

In [8]:
# Upper case
strings.str.upper()

0         A
1         B
2         C
3        AA
4    SERIES
5     F-L-U
dtype: string

In [9]:
# Calcula o tamanho da string
strings.str.len()

0    1
1    1
2    1
3    2
4    6
5    5
dtype: Int64

In [10]:
# Retorna serie de lista
strings.str.split("-", expand=True)

        0     1     2
0       a  <NA>  <NA>
1       b  <NA>  <NA>
2       c  <NA>  <NA>
3      AA  <NA>  <NA>
4  Series  <NA>  <NA>
5       f     l     u

In [11]:
# Substiuição de string
strings.str.replace("^f", "g", case=False, regex=True)

0         a
1         b
2         c
3        AA
4    Series
5     g-l-u
dtype: string

### Desafio 04 - Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida".

In [12]:
def clean_df(url, dados):

    dfs = pd.read_html(url, index_col=1)
    populacao = pd.DataFrame(dfs[0])
    populacao.drop(columns=['Posição', '% da pop. total', 'País comparável (habitantes)'], inplace=True)
    populacao.rename(columns={'Unidade federativa':'uf', 'População':'populacao'}, inplace=True)
    populacao['populacao'] = populacao['populacao'].str.replace(' ', '').astype('int64')
    unida = populacao.join(dados)
    
    return populacao, unida

url = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'

dados_082020 = dados.set_index('Unidade da Federação')['2020/Ago']
dados_082020.index = dados_082020.index.str[3:]

populacao, unida = clean_df(url,dados_082020)

In [13]:
populacao

                     populacao
Unidade federativa
São Paulo             46289333
Minas Gerais          21292666
Rio de Janeiro        17366189
Bahia                 14930634
Paraná                11516840
Rio Grande do Sul     11422973
Pernambuco             9616621
Ceará                  9187103
Pará                   8690745
Santa Catarina         7252502
Maranhão               7114598
Goiás                  7113540
Amazonas               4207714
Espírito Santo         4064052
Paraíba                4039277
Rio Grande do Norte    3534165
Mato Grosso            3526220
Alagoas                3351543
Piauí                  3281480
Distrito Federal       3055149
Mato Grosso do Sul     2809394
Sergipe                2318822
Rondônia               1796460
Tocantins              1590248
Acre                    894470
Amapá                   861773
Roraima                 631181

In [14]:
unida

                     populacao      2020/Ago
Unidade federativa
São Paulo             46289333  1.404149e+08
Minas Gerais          21292666  5.747370e+07
Rio de Janeiro        17366189  3.626432e+07
Bahia                 14930634  2.602356e+07
Paraná                11516840  4.154240e+07
Rio Grande do Sul     11422973  2.834926e+07
Pernambuco             9616621  3.354488e+07
Ceará                  9187103  1.455953e+07
Pará                   8690745  1.155971e+07
Santa Catarina         7252502  1.699124e+07
Maranhão               7114598  1.091672e+07
Goiás                  7113540  2.024264e+07
Amazonas               4207714  4.726486e+06
Espírito Santo         4064052  1.082426e+07
Paraíba                4039277  8.585226e+06
Rio Grande do Norte    3534165  8.080161e+06
Mato Grosso            3526220  6.174225e+06
Alagoas                3351543  6.487948e+06
Piauí                  3281480  7.926322e+06
Distrito Federal       3055149  1.204485e+07
Mato Grosso do Sul     2809394  4.059220e+06
Sergipe                2318822  1.742128e+06
Rondônia               1796460  3.556382e+06
Tocantins              1590248  2.453363e+06
Acre                    894470           NaN
Amapá                   861773  8.341873e+05
Roraima                 631181  1.524478e+06